node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
config.js
google-services.json
src/config/firebase-config.js
firebase.json

# macOS
.DS_Store
